<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
       <trace autoflush="true" indentsize="4">
          <listeners>
             <add name="FileListener"  initializeData=".\trace.txt"
                 type="System.Diagnostics.TextWriterTraceListener" />
             <add name="ConsoleListener" 
                 type="System.Diagnostics.ConsoleTraceListener" />
          </listeners>
       </trace>
        <switches>
            <add name="DefaultSwitch" value="Information" />
           <!-- Enable/disable profiling messages(0=disable, 1=enable) -->
           <add name="bsProfile" value="1"/>
           <!-- Set the threadshold for diagnostic messages
          (0=none, 1=errors, 2=warnings, 3=info, 4=verbose) -->
           <add name="tsDiagnostic" value="3" />
        </switches>
    </system.diagnostics>
</configuration>
