<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.diagnostics>
      <sources>
         <source name="ProfileTracer" switchName="GlobalSwitch" >
            <listeners>
               <add name="FileListener" />
               <add name="ConsoleListener" />
            </listeners>
         </source>
         <source name="ActivityTracer" switchName="GlobalSwitch">
            <listeners>
               <add name="FileListener" />
            </listeners>
         </source>
      </sources>

      <switches>
         <add name="GlobalSwitch" value="ActivityTracing,Error,Warning" />
      </switches>

      <sharedListeners>
         <add name="FileListener" initializeData=".\trace.txt"
            type="System.Diagnostics.TextWriterTraceListener" />
         <add name="ConsoleListener" 
             type="System.Diagnostics.ConsoleTraceListener" />
      </sharedListeners>
   </system.diagnostics>
</configuration>
