<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNamespaceDemo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNamespaceDemo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyNamespaceDemo.My.MySettings.DBConnection" connectionString="Data Source=&quot;MAINSVR;Initial Catalog=Northwind;Integrated Security=True" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
   
    <userSettings>
        <MyNamespaceDemo.My.MySettings>
            <setting name="BackColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="WindowFont" serializeAs="String">
                <value>Arial Rounded MT Bold, 11.25pt</value>
            </setting>
            <setting name="WelcomeMessage" serializeAs="String">
                <value>Welcome back!</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>100, 200</value>
            </setting>
        </MyNamespaceDemo.My.MySettings>
    </userSettings>
    <applicationSettings>
        <MyNamespaceDemo.My.MySettings>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
        </MyNamespaceDemo.My.MySettings>
    </applicationSettings>
</configuration>
